[neopixel caselight]
pin: PB0
chain_count: 36
color_order: GRB
initial_RED: 0.27
initial_GREEN: 0.17
initial_BLUE: 0.07


[led_effect caselight_test]
autostart:              false
frame_rate:             24
leds:
    neopixel:caselight
layers:
    breathing  3 1 top (1,0,0)

[led_effect set_caselight_leds]
leds:
    neopixel:caselight
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (0.27, 0.17, 0.07)

[led_effect set_caselight_leds_full]
leds:
    neopixel:caselight
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0, 0.65, 0.25)

    
[led_effect caselight_gradient]
leds:
    neopixel:caselight
autostart:                          false
frame_rate:                         24
layers:
    gradient 1.00 1.00 top (0.00,1.00,0.00),(1.00,0.00,0.00) 

    
##############
# The Macros #
##############

[gcode_macro set_caselight_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=set_caselight_leds STOP=1

[gcode_macro set_caselight_leds_on]
gcode:
    SET_LED_EFFECT EFFECT=set_caselight_leds STOP=1
    SET_LED_EFFECT EFFECT=set_caselight_leds

[gcode_macro set_caselight_leds_full]
gcode:
    SET_LED_EFFECT EFFECT=set_caselight_leds STOP=1
    SET_LED_EFFECT EFFECT=set_caselight_leds_full

[gcode_macro set_caselight_gradient]
gcode:
    SET_LED_EFFECT EFFECT=set_caselight_leds STOP=1
    SET_LED_EFFECT EFFECT=caselight_gradient

