# ----------------------------------------------------------------------------
# Temperature and Humidity Sensors - BME & EBB42/36
# ----------------------------------------------------------------------------

[temperature_sensor Lane_0]
sensor_type: BME280
i2c_address: 118
i2c_mcu: mmu0
i2c_software_scl_pin: mmu0:PB3
i2c_software_sda_pin: mmu0:PB4
bme280_report_time: 120 # new parameter controlling polling frequency

[temperature_sensor Lane_1]
sensor_type: BME280
i2c_address: 118
i2c_mcu: mmu1
i2c_software_scl_pin: mmu1:PB3
i2c_software_sda_pin: mmu1:PB4

[temperature_sensor Lane_2]
sensor_type: BME280
i2c_address: 118
i2c_mcu: mmu2
i2c_software_scl_pin: mmu2:PB3
i2c_software_sda_pin: mmu2:PB4

[temperature_sensor Lane_3]
sensor_type: BME280
i2c_address: 118
i2c_mcu: mmu3
i2c_software_scl_pin: mmu3:PB3
i2c_software_sda_pin: mmu3:PB4


[gcode_macro MMU_FAN_CFG]
description: Holds configuration/state for multi fan controller.
variable_on_temp: 39.0
variable_off_temp: 37.0
variable_poll_s: 5.0
variable_enabled: True
variable_forced: -1                 # -1=AUTO, 0=all OFF, 1=all ON (global)
variable_sensors: "_Lane_0_onboard,_Lane_1_onboard,_Lane_2_onboard,_Lane_3_onboard"   # Comma-separated temperature_sensor names
variable_fans:    "_emu_fan_0,_emu_fan_1,_emu_fan_2,_emu_fan_3"  # Comma-separated fan_generic names
variable_warned_len_mismatch: False # internal: warn once per enable
gcode:
