[respond]
[include chopper_tune.cfg]
# This file contains common pin mappings for the Fysetc Cheetah v2.0
# board. To use this config, the firmware should be compiled for the
# STM32F446 with "No bootloader" and Communication interface USB

# After running "make", run the following command to flash the board:
# dfu-util -R -a 0 -s 0x08000000:leave -D out/klipper.bin
# or
# make flash FLASH_DEVICE=0483:df11 

## Voron Design VORON 0.2 FYSETC Cheetah 3.0 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Extruder motor currents                                                      [extruder] section
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section

## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0
# See docs/Config_Reference.md for a description of parameters.

## load all configs
[include ext_configs/*.cfg]
## load all macros
[include macros/*.cfg]

[include fluidd.cfg]
[include KAMP_Settings.cfg]


[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[skew_correction]

[gcode_macro _CLIENT_VARIABLE]
#variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 120.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 120.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 60  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 110  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

[mcu]
#####################################################################
# Obtain definition by "ls -l /dev/serial/by-id/"
#####################################################################
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_52003B001851303531393634-if00 ##usb-Klipper_stm32f446xx_3B0012001150335331383920-if00
canbus_uuid: e4ce54fd0a94
# serial: /dev/ttyAMA0   # for UART connection
# baud: 250000
#restart_method: cheetah

[temperature_sensor MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PB1
min_temp: 0
max_temp: 100
gcode_id: C

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 10000
#max_accel_to_decel: 1500
minimum_cruise_ratio: 0.5
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

[input_shaper]
shaper_freq_x: 68.4
shaper_type_x: mzv
shaper_freq_y: 54
shaper_type_y: mzv

#####################################################################
#      X/Y Stepper Settings
#####################################################################
[stepper_x]
step_pin: PC0
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: PC1                                                       # Check motor direction in link above. If inverted, remove ! before PC1
enable_pin: !PC3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9�?degree stepper motor, 200 is for 1.8�?stepper motors
endstop_pin: ^EBBCan: PB8
position_endstop: 120
position_max: 120
#position_min: 0.05
homing_speed: 50                                                    # for sensorless homing it is recommended not to go above 40mm/s   
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PB3
#tx_pin: PA2
uart_address: 0
interpolate: False
run_current: 0.75
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

[stepper_y]
step_pin: PC14
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: PC13                                                      # Check motor direction in link above. If inverted, remove ! before PC13
enable_pin: !PC15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9 degree stepper motor, 200 is for 1.8 degree stepper motors
endstop_pin: ^PA3
#endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 50                                                    # for sensorless homing it is recommended not to go above 40mm/s   
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PB3
#tx_pin: PA2
uart_address: 1
interpolate: False
run_current: 0.75
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle


#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB4
dir_pin: !PB5	                                                    # Remove the ! before PB8 if motor direction is inverted.
enable_pin: !PC2
rotation_distance: 8                                                # For T8x8 lead screw
microsteps: 32
endstop_pin: ^PC4
position_max: 120
position_min: -1.5
homing_speed: 20
second_homing_speed: 3.0
homing_retract_dist: 3.0
#position_endstop: 119.6

[tmc2209 stepper_z]
uart_pin: PB3
uart_address: 2
interpolate: False
# For FYSETC 42HSC1404B-200N8
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0                                             # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

[endstop_phase]


#####################################################################
#   Extruder
#####################################################################

[extruder]
#step_pin: PB2
#dir_pin: !PA15	                # Add ! if moving opposite direction
#enable_pin: !PD2
#full_steps_per_rotation: 200    # Set to 200 for 1.8 degree motor, set to 400 for 0.9 degree stepper motor
#rotation_distance: 4.637        # See calibrating rotation_distance on extruders doc
#rotation_distance: 5.6
#rotation_distance: 4.5
#microsteps: 16
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: PC7
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: PC5
#control: pid            # Do PID calibration
#pid_Kp: 28.182
#pid_Ki: 1.978
#pid_Kd: 100.397
#min_temp: 0
#max_temp: 300
#min_extrude_temp: 170
#max_extrude_only_distance: 150
#max_extrude_cross_section: 1.5
#max_extrude_only_distance: 500
#max_extrude_only_velocity: 60
#max_extrude_only_accel: 1000
#pressure_advance: 0.0454   # See tuning pressure advance doc
#pressure_advance_smooth_time: 0.040
#max_extrude_cross_section: 5

#[tmc2209 extruder]
#uart_pin: PB3
#tx_pin: PA2
#uart_address: 3
#interpolate: True
#run_current: 0.9
#hold_current: 0.1
#sense_resistor: 0.110
#stealthchop_threshold: 0                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC8
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PB0
smooth_time: 3.0
#max_power: 0.6                                                      # Only needed for 100w pads
min_temp: 0
max_temp: 120
#control: pid                                                         # Do PID calibration after initial checks
#pid_kp: 68.453
#pid_ki: 2.749
#pid_kd: 426.122

#####################################################################
# Fan Control
#####################################################################

#[heater_fan hotend_fan]
# FAN1 Connector
#pin: PA13
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0
#fan_speed: 1.0                                                      # You can't PWM the delta fan unless using blue wire

#[fan]
## Print Cooling Fan: FAN0 Connector
#pin: PA14
#max_power: 0.8
#kick_start_time: 0.5                                                 # Depending on your fan, you may need to increase this value if your fan will not start
#off_below: 0.13
#cycle_time: 0.010

[fan_generic BENTO_mini]
pin: PA8
max_power: 1.0
kick_start_time: 0.5
cycle_time: 0.04
hardware_pwm: False
off_below: 0.06

#[fan_generic CPAP-TEST]
#pin: PB14 #PA8
#max_power: 1.0
#kick_start_time: 0.1
#cycle_time: 0.00004
#hardware_pwm: False
#off_below: 0.04
#heater: extruder
#fan_speed: 1.0 

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

#[safe_z_home]
#home_xy_position: 120,120                                           # these coordinates must NOT be greater than the values specified in "position_max:" for the X and Y steppers
#speed: 40.0
#z_hop: 5


# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right
probe_height: 0.2


#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.613
#*# pid_ki = 2.755
#*# pid_kd = 290.849
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = 0.005665835293294681
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 101/128
#*#
#*# [stepper_z]
#*# position_endstop = 117.615
