#########################################################
#   INCLUDING SECTION                       12.10.25    #
#########################################################
## TEst

[include shell_command.cfg]
[include mainsail.cfg]

#### Macros
[include macros/a_*.cfg]
[include KAMP_Settings.cfg]

### Hardware external configs
#[include ext_configs/orbitool_o2s.cfg]
#[include ext_configs/orbiter-sensor.cfg]
[include ext_configs/ebb_can.cfg]
[include ext_configs/cartographer.cfg]
[include ext_configs/shaketune.cfg]
[include ext_configs/leds_toolhead.cfg]
[include ext_configs/leds_caselight.cfg]
[include ext_configs/tmc_autotune.cfg]
[include ext_configs/buzzer.cfg]

[respond] 

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##-----------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Kalico_stm32f446xx_Octopus_V1.1-if00
restart_method: command
##-----------------------------------------------------------------------

## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
#variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 15.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 150  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 303  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
##variable_use_fw_retract   : True ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: "_SHUTDOWN_HANDLER_CANCEL_PRINT"    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4500             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[input_shaper]
shaper_freq_x: 58.6
shaper_type_x: mzv          # suggested max_accel <= 9200 mm/sec^2
shaper_freq_y: 42.8
shaper_type_y: mzv          # suggested max_accel <= 5500 mm/sec^2

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: EBBCan:PB8
position_min: 0
position_endstop: 299
position_max: 299
homing_speed: 75   #Max 100
homing_retract_dist: 10
homing_positive_dir: true


##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG6
position_min: 0
position_endstop: 309
position_max: 309
homing_speed: 75  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_max: 260
position_min: -5
homing_speed: 8
second_homing_speed: 3




##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

## Extruder Config is in seperate config file regarding the O2S tool board

[firmware_retraction]
retract_length: 1
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 50


#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PA3
##  Other wiring guides may use BED_OUT to control the SSR. Uncomment the following line for those cases
#heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.95
min_temp: 0
max_temp: 115
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#####################################################################
#   Fan Control
#####################################################################

##  Print Cooling Fan - FAN0
#[fan]
#pin: PD12
#kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
#off_below: 0.10

##  Hotend Fan - FAN1
#[heater_fan hotend_fan]
#pin: PD15 ## ändern
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

##  Controller fan - FAN2 Skirtfans
[controller_fan controller_fan]
pin: PD14
heater: heater_bed
stepper: stepper_x, stepper_y, stepper_z
fan_speed: 0.3
kick_start_time: 0.4

[fan_generic filter]
pin: PA8
kick_start_time: 0.5
hardware_pwm: false
cycle_time: 0.06

[multi_pin bed_fans_pins]
pins: PD12, PE5

[output_pin bed_fans]
pin: multi_pin:bed_fans_pins
pwm: false

[fan_generic exhaust]
pin: PD13
kick_start_time: 0.5
#min_temp: 10
#max_temp: 70
#target_temp: 45.0
#control: watermark
#sensor_type: Generic 3950
#sensor_pin: PF5

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

#[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
##home_xy_position:204,308
#home_xy_position:149.5,150
#speed:200
#z_hop:10

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]
#  Gantry Corners for 300mm Build
gantry_corners:
    -60,-10
    360,370
    #  Probe points
points:
    50,25   #50,25
    50,225  #50,225
    250,225 #250,225
    250,25  #250,25
speed: 250
horizontal_move_z: 5
retries: 7
retry_tolerance: 0.0075
max_adjust: 10

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,
    
    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>
    
    
    ############################################
    # sonstiges
    ############################################
    
[temperature_sensor RPi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Octo]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 0
max_temp: 100
gcode_id: C

## just for PID
[extruder]
#pid_Kp: 25.393
#pid_Ki: 11.286
#pid_Kd: 14.284

[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.333
#*# pid_ki = 1.340
#*# pid_kd = 288.604
#*# pid_version = 1
#*# pid_target = 85.00
#*# pid_tolerance = 0.1000
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 220.00
#*# pid_tolerance = 0.0500
#*# pid_kp = 26.632
#*# pid_ki = 12.387
#*# pid_kd = 14.315
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4233310678211408,1.9045186793910276,0.8416707561048097,0.3925379294927836,0.4562877425230386,0.4996249942568387,-0.2595299480897378,-0.4103277965000386,0.3395806417790456,0.31598024321777224
#*# domain = 3.1669670604701196e-07,3.37864776694105e-07
#*# z_offset = 0
#*# reference_temperature = 26.25
#*# software_version = 1.5.0
#*# mcu_version = Cartographer HT 5.1.0
