[include mainsail.cfg]
[include fluidd.cfg]
[include timelapse.cfg]

[include macros/*.cfg]
[include ext_configs/*.cfg]
[include Klicky/klicky-probe.cfg]
[include KAMP_Settings.cfg]
[include K-ShakeTune/*.cfg]

[include chopper_tune.cfg]


[respond]
[exclude_object]

[gcode_arcs]
resolution: 0.1

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2A0034001051313236343430-if00

[idle_timeout]
timeout: 1200

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 20000
#max_accel_to_decel: 5000
minimum_cruise_ratio: 0.5
max_z_velocity: 12
max_z_accel: 350
square_corner_velocity: 10

[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: ^PG6
position_endstop = -3
position_min = -3
position_max: 235
homing_speed: 70
homing_positive_dir: false

[tmc5160 stepper_x]
cs_pin: PC4
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
sense_resistor: 0.075
run_current: 1.1
#hold_current: 0.800
#stealthchop_threshold: 999999
#driver_TBL: 1
#driver_TOFF: 8
#driver_HSTRT: 7
#driver_HEND: 3
#driver_TPFD: 9

[stepper_x1]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400


[tmc5160 stepper_x1]
cs_pin: PD11
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
sense_resistor: 0.075
run_current: 1.1
#hold_current: 0.800
#stealthchop_threshold: 999999
#driver_TBL: 1
#driver_TOFF: 8
#driver_HSTRT: 7
#driver_HEND: 3
#driver_TPFD: 9

[stepper_y]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: ^PG9
position_endstop: 0
position_min: -1
position_max: 245
homing_speed: 70

[tmc5160 stepper_y]
cs_pin: PC6
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
sense_resistor: 0.075
run_current: 1.1
#hold_current: 0.800
#stealthchop_threshold: 999999
#driver_TBL: 1
#driver_TOFF: 8
#driver_HSTRT: 7
#driver_HEND: 3
#driver_TPFD: 9

[stepper_y1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA2
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400


[tmc5160 stepper_y1]
cs_pin: PC7
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
sense_resistor: 0.075
run_current: 1.1
#hold_current: 0.800
#stealthchop_threshold: 999999
#driver_TBL: 1
#driver_TOFF: 8
#driver_HSTRT: 7
#driver_HEND: 3
#driver_TPFD: 9

[stepper_z]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
microsteps: 16
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
#endstop_pin: ^!PG10
#position_endstop: 0.0
position_max: 210
position_min: -2

[tmc2209 stepper_z]
uart_pin: PE1
#tx_pin: PC10
#uart_address: 1
run_current: 1.200
hold_current: 0.600
#stealthchop_threshold: 999999

[extruder]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
microsteps: 16
Gear_ratio: 60:10
rotation_distance: 35.8  #4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 6
pressure_advance = 0.026
max_extrude_only_distance: 100.0
heater_pin: PA0
sensor_type: MAX31865
sensor_pin: PF8
spi_speed: 4000000
spi_software_sclk_pin: PA5 
spi_software_mosi_pin: PA7 
spi_software_miso_pin: PA6 
rtd_use_50Hz_filter: True
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
min_temp: 0
max_temp: 350


[tmc2209 extruder]
uart_pin: PE4
#tx_pin: PC10
#uart_address: 3
run_current: 0.75
#hold_current: 0.100
#sense_resistor: 0.11
#stealthchop_threshold: 999999

[probe]
pin: PG10
#deactivate_on_each_sample: True
x_offset: 0
y_offset: 20.5
samples: 3
#activate_gcode: ATTACH_PROBE
#eactivate_gcode: DOCK_PROBE
#z_offset: 9
#speed: 5.0

[bed_mesh]
speed: 280
horizontal_move_z: 6
mesh_min: 15, 26
mesh_max: 220, 205
probe_count: 9, 9
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[heater_bed]
heater_pin: PB11
sensor_type: Generic 3950
sensor_pin: PF3
min_temp: 0
max_temp: 130

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF7
min_temp: 0
max_temp: 100
gcode_id: C

[screws_tilt_adjust]
screw1: 117.5,200
screw1_name: center back screw
screw2: 30,11
screw2_name: front left screw
screw3: 201,11
screw3_name: front right screw
horizontal_move_z: 11.
speed: 300.
screw_thread: CW-M4

[heater_fan Heatbreak]
## heatbreak fan
pin: PA8
max_power: 1.0
hardware_pwm: false
heater: extruder
heater_temp: 55.0
fan_speed: 1.0

[fan]  ## part cooling fan
pin: PE10
max_power: 0.87
kick_start_time: 0.1
cycle_time: 0.00004 #25kHz
hardware_pwm: False
off_below: 0.06

[fan_generic Exhaust_fan]  ##  exhaust fan
pin: PD12
hardware_pwm: false
cycle_time: 0.060
max_power: 1.0
kick_start_time: 0.3
off_below: 0.10
#kick_start_time: 0.2
#off_below: 0.10

[fan_generic Nevermore_fan]
##  Never More Filter
pin: PE5
hardware_pwm: false
cycle_time: 0.06
max_power: 1.0
kick_start_time: 0.3
off_below: 0.10

[controller_fan Backpanel]
pin: PD13
hardware_pwm: False
stepper: stepper_x,stepper_y,stepper_x1,stepper_y1

[servo klicky_servo]
pin: PB6
initial_angle: 145
maximum_servo_angle: 180
minimum_pulse_width: 0.00025
maximum_pulse_width: 0.0024

[input_shaper]
shaper_freq_x: 130.2
shaper_type_x: mzv
shaper_freq_y: 95.0
shaper_type_y: mzv

#[neopixel my_led]
#pin: PA8
#chain_count: 3
#color_order: GRB

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.451
#*# pid_ki = 2.173
#*# pid_kd = 68.768
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 43.818
#*# pid_ki = 1.974
#*# pid_kd = 243.191
#*#
#*# [probe]
#*# z_offset = 4.430
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.008333, 0.020833, 0.038750, 0.040000, 0.040833, 0.035833, 0.039583, 0.015417, -0.008750
#*# 	  0.036667, 0.061250, 0.043750, 0.047917, 0.038750, 0.020417, 0.019583, -0.013750, -0.028750
#*# 	  0.048750, 0.058750, 0.060833, 0.044583, 0.041667, 0.022083, 0.008333, -0.040000, -0.025000
#*# 	  0.068750, 0.068750, 0.059583, 0.046667, 0.033750, 0.020833, -0.020833, -0.050000, -0.076667
#*# 	  0.073333, 0.056667, 0.076667, 0.053333, 0.032083, -0.027917, -0.036250, -0.075000, -0.107500
#*# 	  0.089583, 0.080417, 0.084583, 0.040000, 0.039583, -0.027500, -0.045000, -0.100833, -0.140000
#*# 	  0.108333, 0.088333, 0.091250, 0.058750, 0.037500, -0.016250, -0.029583, -0.099167, -0.156667
#*# 	  0.134167, 0.119583, 0.105000, 0.045000, 0.035000, -0.025833, -0.063750, -0.115000, -0.175000
#*# 	  0.131250, 0.125000, 0.103750, 0.064167, 0.039167, -0.008750, -0.060417, -0.161250, -0.210000
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 219.96
#*# min_y = 26.0
#*# max_y = 204.96000000000004
#*#
#*# [input_shaper]
