#####################################################################
#   Quad_Gantry_Level G32 Checkup
#####################################################################

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    _CG28
    QUAD_GANTRY_LEVEL
    G28 Z
    #G0 X150 Y150 Z30 F3600
    RESTORE_GCODE_STATE NAME=STATE_G32

[gcode_macro _CG32]
description: Check if QGL done
gcode:
    {% if printer['quad_gantry_level'].applied == false %}
      G32
    {% else %}
      M117 Ganty already leveled!
      {action_respond_info("Ganty already leveled!")}
    {% endif %}