[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E60 F1000                   ; load
   G1 E40 F300                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E40 F400                    ; extrude a little to soften tip
   G1 E-100 F2000                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

[gcode_macro CUT_FILAMENT]
description: Cut filament using the gantry depressor
gcode:
    {% set NORMAL_XY_CURRENT = 0.8 %}
    {% set CUT_XY_CURRENT = 1.1 %}

    # Motorstrom für Schneidvorgang erhöhen
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={CUT_XY_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={CUT_XY_CURRENT}

    G91
    G1 Z2 F600

    G90
    G1 X10 Y270 F6000
    G1 X0 F1000
    G1 Y284 F1000
    G1 Y290 F800

    G91
    G1 E-25 F1000

    G90
    G1 Y289 F800
    G1 X10 F6000
    G1 Y280 F4000

    M400

    # Motorstrom wieder zurücksetzen
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={NORMAL_XY_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={NORMAL_XY_CURRENT}
    