######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state


# ######################################################################
# # PAUSE PRINT
# ######################################################################

# [gcode_macro PAUSE]
# description: Pause the actual running print
# rename_existing: PAUSE_BASE
# # change this if you need more or less extrusion
# variable_extrude: 1.0
# gcode:
#     ##### read E from pause macro #####
#     {% set E = printer["gcode_macro PAUSE"].extrude|float %}
#     ##### set park positon for x and y #####
#     # default is your max posion from your printer.cfg
#     {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
#     {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
#     ##### calculate save lift position #####
#     {% set max_z = printer.toolhead.axis_maximum.z|float %}
#     {% set act_z = printer.toolhead.position.z|float %}
#     {% if act_z < (max_z - 2.0) %}
#         {% set z_safe = 2.0 %}
#     {% else %}
#         {% set z_safe = max_z - act_z %}
#     {% endif %}
#     {%set min_extrude_temp = printer.configfile.settings["extruder"]["min_extrude_temp"]|int %}
#     {%set act_extrude_temp = printer.extruder.temperature|int %}
#     ##### end of definitions #####
#     PAUSE_BASE
#     G91
#     {% if act_extrude_temp > min_extrude_temp %}
#       G1 E-{E} F2100
#     {% else %}
#       {action_respond_info("Extruder not hot enough")}
#     {% endif %}
#     {% if "xyz" in printer.toolhead.homed_axes %}
#       G1 Z{z_safe} F900
#       G90
#       G1 X{x_park} Y{y_park} F6000
#     {% else %}
#       {action_respond_info("Printer not homed")}
#     {% endif %} 

# ######################################################################
# # RESUME PRINT
# ######################################################################

# [gcode_macro RESUME]
# description: Resume the actual running print
# rename_existing: RESUME_BASE
# gcode:
#     ##### read E from pause macro #####
#     {% set E = printer["gcode_macro PAUSE"].extrude|float %}
#     {%set min_extrude_temp = printer.configfile.settings["extruder"]["min_extrude_temp"]|int %}
#     {%set act_extrude_temp = printer.extruder.temperature|int %}
#     #### get VELOCITY parameter if specified ####
#     {% if 'VELOCITY' in params|upper %}
#       {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
#     {%else %}
#       {% set get_params = "" %}
#     {% endif %}
#     ##### end of definitions #####
#     {% if act_extrude_temp > min_extrude_temp %}
#       G91
#       G1 E{E} F2100
#     {% else %}
#       {action_respond_info("Extruder not hot enough")}
#     {% endif %}  
#     RESUME_BASE {get_params}


######################################################################
# PID MACRO
######################################################################

[gcode_macro PID_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60

[gcode_macro PID_Extruder]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=200


######################################################################
# Motor Off
######################################################################

[gcode_macro Motor_aus]
gcode:
  M18


######################################################################
# Wartungsposition 
######################################################################
[gcode_macro MAINTENANCE]
gcode:
    STATUS_PRINTING
    G28
    # Absolute mode on
    G90
    # Wartungskoordinate
    G1 X110 Y120 Z105 F1000
    # Relative Mode on
    G91
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Disable steppers
    # M84

    
######################################################################
# Erweitertes QGL 
######################################################################    
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
description: Quick QGL with fancy lights
gcode:
    STATUS_LEVELING
    {% if 'x' not in printer.toolhead.homed_axes or
          'y' not in printer.toolhead.homed_axes or
          'z' not in printer.toolhead.homed_axes %}
        M118 homing X,Y,Z before quad gantry leveling...
        G28
    {% endif %}

    M118 Starting custom quad gantry leveling...
    _QUAD_GANTRY_LEVEL  RETRY_TOLERANCE=1
    _QUAD_GANTRY_LEVEL horizontal_move_z=2
    M118 Quad gantry leveling complete!
    G28 Z
    STATUS_READY


######################################################################
# ASA Heatup Lüfter 
######################################################################
[gcode_macro _ASA_HEATUP_FANS]
gcode: 
    SET_PIN PIN=bed_fans VALUE=1.00
    SET_FAN_SPEED FAN=filter SPEED=1


######################################################################
# Dry Run Axes 
######################################################################
[gcode_macro _RUN_Y]
gcode:
   {% set travel_speed     = ((printer.toolhead.max_velocity) * 0.75) * 60 | float %}      ## set speed to 3/4 of max velocity
   {% set half_x           = (printer.configfile.settings['stepper_x'].position_max/2) %}  
   {% set move_max_y       = (printer.configfile.settings['stepper_y'].position_max-2) %}
   {% set count = params.COUNT|default(1)|int %}
   M118 start riding Y
   G90
   G1 X{half_x} Y2 F{travel_speed}
   {% for i in range(1, count) %}
      G1 Y{move_max_y}
      G1 Y2
   {% endfor %}
   M118 stop riding Y

[gcode_macro _RUN_X]
gcode:
   {% set travel_speed     = ((printer.toolhead.max_velocity) * 0.75) * 60 | float %}      ## set speed to 3/4 of max velocity
   {% set half_y           = (printer.configfile.settings['stepper_y'].position_max/2) %}  
   {% set move_max_x       = (printer.configfile.settings['stepper_x'].position_max-2) %}
   {% set count = params.COUNT|default(1)|int %}
   M118 start riding X
   G90
   G1 Y{half_y} X2 F{travel_speed}
   {% for i in range(1, count) %}
      G1 X{move_max_x}
      G1 X2
   {% endfor %}
   M118 stop riding X


######################################################################
# Reset Accel Limits 
######################################################################   
[gcode_macro RESET_ACCEL_LIMITS]
gcode:
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity}
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}



[gcode_macro LICHT_TOGGLE]
description: Schaltet das Druckerlicht über ioBroker um
gcode:
  {action_call_remote_method("set_device_power",
                             device="druckerlicht",
                             state="toggle")}

[gcode_macro LICHT_AN]
description: Schaltet das Druckerlicht über ioBroker ein
gcode:
  {action_call_remote_method("set_device_power",
                             device="druckerlicht",
                             state="on")}

[gcode_macro LICHT_AUS]
description: Schaltet das Druckerlicht über ioBroker aus
gcode:
  {action_call_remote_method("set_device_power",
                             device="druckerlicht",
                             state="off")}


