#####################################################################
# Start Code Superslicer:
# START_PRINT T_BED=[first_layer_bed_temperature] T_EXTRUDER=[first_layer_temperature]
#
# Start Code Cura (activate relative extrusion in cura / aktiviere Relative Extrusion in Cura):
# START_PRINT T_BED={material_bed_temperature_layer_0} T_EXTRUDER={material_initial_print_temperature}
######################################################################


#####################################################################
#  Startcode with all Calibration Steps
#####################################################################

[gcode_macro START_PRINT]
gcode:
    #### set defaults ####
    {% set extruder = params.T_EXTRUDER|default(0)|float %}
    {% set extr_touch = extruder - 30 %}
    {% set bed = params.T_BED|default(0) %}
    {% set material = params.MATERIAL %}
    #### end off definition  ####
    _SHUTDOWN_HANDLER_START_PRINT           ; inititate scheduled shutdown handler
    M300                                    ; short start beep
    BED_MESH_CLEAR
    M83                                     ; Extruder realtive mode     
    STATUS_HEATING                          ; Set NEOPIXEL STATUS_HEATING
    M104 S{extr_touch}                               ; set temp without wait
    M140 S{bed}                             ; set temp without wait
    {action_respond_info("Heat Bed")}
    M190 S{bed}                             ; Bed heat up
    {action_respond_info("Heat Extruder")}
    M109 S{extr_touch}                      ; Extruder heat up standby temp 170
    STATUS_HOMING		                    ; Set NEOPIXEL STATUS_HOMING
    G92
    G28                                     ; homing 
    G90                                     ; absolute positioning
    G32                                     ; VORON QGL
    G1 Z5 F3000
    STATUS_CALIBRATING_Z  
    BED_MESH_CALIBRATE ADAPTIVE=1 RUNS=2
    ;G28 Z METHOD=PROXIMITY
    G1 X10 Y300 Z10 F12000 
    STATUS_HEATING
    M109 S{extr_touch}                       ; Now set the desired temperature - 30° 
    WIPE_NOZZLE
    G28 Z METHOD=CONTACT CALIBRATE=0         ; calibrate z offset only with hot nozzle
    G1 X3 Y3 Z5 F12000 
    M109 S{extruder}                         ; Now set the desired temperature
    {action_respond_info("Material: " ~ material)}
    G92 E0.0                                 ; Reset extruder length
    STATUS_PRINTING
    {% if material == "PLA" %}               ; set bed offset if printing ASA 
      SET_GCODE_OFFSET Z_ADJUST=-0.06
    {% endif %}
    LINE_PURGE


######################################################################
# END PRINT
######################################################################

[gcode_macro END_PRINT]
description: All what needs to be done at print end
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
	{% set unload = params.UNLOAD_AT_END|default(0)|int %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 20, th.axis_maximum.z]|min %}
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    M400                                                        ; wait for buffer to clear
    G92 E0                                                      ; zero the extruder
    G1 E-15.0 F3000                                             ; retract filament
    G90                                                         ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000                     ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 10} F3600  ; park nozzle at rear

    {% if unload|int == 1%}
      ERCF_EJECT SKIP_TIP=1
    {% endif %}

    TURN_OFF_HEATERS
    M107                                                        ; turn off fan
    M84                                                         ; Steppers off
    M117 Print done
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    STATUS_READY
    _SHUTDOWN_HANDLER_STOP_PRINT
