#####################################################################
# Start Code Superslicer:
# START_PRINT T_BED=[first_layer_bed_temperature] T_EXTRUDER=[first_layer_temperature]
#
# Start Code Cura (activate relative extrusion in cura / aktiviere Relative Extrusion in Cura):
# START_PRINT T_BED={material_bed_temperature_layer_0} T_EXTRUDER={material_initial_print_temperature}
######################################################################


#####################################################################
#  Startcode with all Calibration Steps
#####################################################################

[gcode_macro START_PRINT]
gcode:
    #### set defaults ####
    {% set extruder = params.T_EXTRUDER|default(0)|float %}
    {% set bed = params.T_BED|default(0)|float %}
    {% set material = params.MATERIAL|default("UNKNOWN") %}

    #### Happy Hare / MMU params ####
    {% set initial_tool = params.INITIAL_TOOL|default(0)|int %}
    {% set total_toolchanges = params.TOTAL_TOOLCHANGES|default(0)|int %}
    {% set referenced_tools = params.REFERENCED_TOOLS|default("") %}
    {% set tool_colors = params.TOOL_COLORS|default("") %}
    {% set tool_temps = params.TOOL_TEMPS|default("") %}
    {% set tool_materials = params.TOOL_MATERIALS|default("") %}
    {% set filament_names = params.FILAMENT_NAMES|default("") %}
    {% set purge_volumes = params.PURGE_VOLUMES|default("") %}
    #### end off definition ####

    ; Happy Hare Setup: nur Jobdaten übergeben, noch kein Load/Unload
    MMU_START_SETUP INITIAL_TOOL={initial_tool} TOTAL_TOOLCHANGES={total_toolchanges} REFERENCED_TOOLS="{referenced_tools}" TOOL_COLORS="{tool_colors}" TOOL_TEMPS="{tool_temps}" TOOL_MATERIALS="{tool_materials}" FILAMENT_NAMES="{filament_names}" PURGE_VOLUMES="{purge_volumes}"

    _SHUTDOWN_HANDLER_START_PRINT
    M300
    SET_GCODE_OFFSET Z=0
    M220 S100
    M221 S100
    RESET_ACCEL_LIMITS
    BED_MESH_CLEAR
    M83

    STATUS_HEATING
    M104 S149
    M140 S{bed}
    {action_respond_info("Heat Bed")}
    M190 S{bed}

    {action_respond_info("Heat Extruder")}
    STATUS_HOMING
    G92
    G28
    G90
    G32
    G1 Z5 F3000

    STATUS_CALIBRATING_Z
    BED_MESH_CALIBRATE ADAPTIVE=1 RUNS=2

    G1 X10 Y300 Z10 F12000
    STATUS_HEATING
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=149
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=149

    WIPE_NOZZLE

    G28 Z METHOD=CONTACT CALIBRATE=0
    G1 X150 Y290 Z5 F12000

    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={extruder - 1} MAXIMUM={extruder + 2}

    ; Happy Hare erst nach Homing/QGL/Mesh/Z-Kalibrierung prüfen/laden
    MMU_START_CHECK
    MMU_START_LOAD_INITIAL_TOOL

    {action_respond_info("Material: " ~ material)}
    G92 E0.0
    STATUS_PRINTING

    LINE_PURGE


######################################################################
# END PRINT
######################################################################

[gcode_macro END_PRINT]
description: All what needs to be done at print end
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
	{% set unload = params.UNLOAD_AT_END|default(0)|int %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 20, th.axis_maximum.z]|min %}
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                                                        ; wait for buffer to clear
    G92 E0                                                      ; zero the extruder
    G1 E-15.0 F2000                                             ; retract filament
    G90                                                         ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000                     ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 10} F3600  ; park nozzle at rear

    TURN_OFF_HEATERS
    M107                                                        ; turn off fan
    M84                                                         ; Steppers off
    M117 Print done
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    STATUS_READY
    _SHUTDOWN_HANDLER_STOP_PRINT
