############################################################################################################################################################## 
# This macro uses the entire brush area by defining the rectangle with
# the two corner points for example (88,304) (top-left) and (116,299) (bottom-right).
# It moves back and forth in X across the brush, slightly beyond the edges (x1 - 2 to x2 + 2), 
# while gradually lowering Y from top to bottom.
# This ensures the full surface of the brush is used for cleaning the nozzle.
#
#      Y ↑
#        |
#    xy1 +---------------+
#        |               |  
#        +---------------+ xy2  -→ X
##############################################################################################################################################################    

[gcode_macro WIPE_NOZZLE]

# Brush area corner coordinates (as strings)
variable_xy1: "91,302"    ; top-left corner
variable_xy2: "117,297"   ; bottom-right corner

variable_z1: 0.5          ; nozzle height
variable_count: 16        ; number of wipe passes
variable_min_temp: 149    ; minimum nozzle temperature

gcode:
    M400                  ; wait for buffer to clear

    ; check if minimum nozzle temperature is reached
    {% if printer.extruder.temperature < min_temp - 1 %}
      RESPOND msg="Nozzle temp should be min {min_temp}°C - heating up!"
      M109 S{min_temp}    ; wait until minimum temperature is reached
    {% endif %}

    ; check if all axes are homed
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28               ; home all axes
    {% endif %}

    ; ensure QGL is applied (only if config exists)
    {% if printer.quad_gantry_level is defined %}
      {% if not printer.quad_gantry_level.applied %}
        RESPOND msg="QGL not applied - running QUAD_GANTRY_LEVEL"
        QUAD_GANTRY_LEVEL
        G28 Z             ; re-home Z after QGL
      {% endif %}
    {% endif %}

    STATUS_CLEANING
    G90                   ; absolute positioning
    G0 Z5 F3600           ; lift nozzle above brush

    ; parse variables into X/Y and calculate Y step
    {% set x1, y1 = xy1.split(",")|map("float") %}
    {% set x2, y2 = xy2.split(",")|map("float") %}
    {% set step = (y2 - y1) / (count - 1) %}

    G0 X{x1} Y{y1}        ; move to start (top-left)
    G0 Z{z1}              ; lower nozzle to wiping height

    M117 Wiping Nozzle

    ; wiping loop
    {% for i in range(count) %}
      {% set yi = y1 + (i * step) %}
      G0 X{x1} Y{yi} F15000     ; move left
      G0 X{x2} Y{yi}            ; move right
    {% endfor %}


    G0 X{x2 + 10}               ; move further right (watch bed screws!)
    G0 Z5 F3600                 ; lift nozzle up
    M117 Nozzle Cleaned
    STATUS_READY

